@model IEnumerable<ShackUp.Models.Queries.ListingShortItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to Shack Up!</h2>
        <p>
            Shack up connects people who have available space in their shack with people who 
            would like to sleep in it!  Shack renters enjoy roughing it.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3>Recently Added Shacks</h3>
        @foreach(var shack in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4">
                <p class="recentListing"><img width="255" height="155" src="@Url.Content("~/Images/" + shack.ImageFileName)" /></p>
                <p class="recentListing"><strong>@shack.City, @shack.StateId</strong></p>
                <p class="recentListing">@shack.Rate.ToString("c") / night</p>
                <p class="recentListing">@Html.ActionLink("view details", "Details", "Listings", new { id = shack.ListingId }, null)</p>
            </div>
        }
    </div>
</div>